* {
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
}

body {
    background-color: floralwhite;
}

h1, h2, h3 {
    color: royalblue;
}

h1 {
    background-color: pink;
    font-size: 50px;
    text-indent: 2%;
}

h2 {
    font-size: 25px;
}

a {
    background-color: mistyrose;
    color: black;
    text-decoration: none;
    font-style:italic;
}

.main-dish {
    font-weight: 900;
}

.vegetarian {
    color: olive;
}

/* specifically for the index page */

body.main {
    background-color: mistyrose;
}

.main a {
    background-color: pink;
    font-size: 20px;
    line-height: 150%;
}

.index-box {
    margin: 40px 0;
}

.index-box div{
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 20px 0;
}

#index-list {
    width: 600px;
    height: 600px;
    border-right: dotted 2px pink;
    background-color: rgba(255,195,203,20%);

}

#legend {
}


/* specifically for the recipe pages */

img {
    height: 500px;
    width: auto;
}

.description {
    height: 400px;
    width: 300px;
    display: inline-block;
    margin: 40px 0 0 -80px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    vertical-align: top;
}

.description p,
.description a {
    font-size: 12px;
    color: royalblue;
}